In [1]:
import pandas as pd

In [5]:
# Load the CSV files into DataFrames
data = pd.read_pickle('../models/cell-classification/training/balanced_set.pkl')
tags = pd.read_csv('../models/cell-classification/training/balanced_set_tags.csv')

In [7]:
# Merge the 'filename' column from concatenated_tables onto T_clustered_tables based on 'table_id'
tagged_data = pd.merge(data, tags[['cell_id', 'cell_role']], on='cell_id', how='left')

In [8]:
# Confirm it works
print(tagged_data.shape)
tagged_data.head()

(10426, 83)

,cell_id,cell_type,entity_type,cell_words,cell_content,cell_width,cell_height,cell_left,cell_top,row_index,...,cell_content_tfidf_42,cell_content_tfidf_43,cell_content_tfidf_44,cell_content_tfidf_45,cell_content_tfidf_46,cell_content_tfidf_47,cell_content_tfidf_48,cell_content_tfidf_49,has_content,cell_role
0,76a754a3-6890-48c5-b479-f548860cfe50,3,0,"[Nameplate, Information]",Nameplate Information,0.846682,0.021104,0.086272,0.181804,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,title
1,76366028-7abd-4e82-b3fb-c323eb486bbd,0,3,"[Nameplate, Information]",Nameplate Information,0.236526,0.021361,0.086304,0.181983,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,title
2,7579fcb6-034c-457d-a186-391a167320ff,1,3,[],,0.846682,0.021298,0.086272,0.182046,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,merged_helper
3,7aeb3142-37da-4408-8cd1-47fa050b86de,0,0,[Manufacturer:],Manufacturer:,0.236559,0.019694,0.086271,0.203320,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,key
4,befba715-9e9a-48df-9688-4562d9b7f211,0,0,[Model:],Model:,0.236561,0.019694,0.086270,0.222990,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,key

In [9]:
# Save the merged table to a new CSV file
tagged_data.to_pickle('tagged_cells_df.pkl')